<!-- Base para compartilhar seções em comum para cada página HTML -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trying out Django</title>
    </head>
    <body>
        <header>
            <h1>Header</h1>
        </header>

        {% include 'navbar.html' %}

        {% block content %}
            content to be replaced
        {% endblock content %}

        <footer>
            <h1>Footer</h1>
        </footer>
    </body>
</html>
